<h2>
    <%= graça.nome_exibicao %>
</h2>
<p>
    <%= graça.localidade %>
</p>
<p>
    <%= graça.resumo %>
</p>
<p>
    <%= graça.relato %>
</p>
<img src="/<%= graça.imagem_santinho_url %>" alt="Santinho de <%= graça.nome_exibicao %>" />